@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    background-image:url("../assets/images/fondo.jpg.jpg");
    background-size:cover;
    background-position:center right;
    background-repeat:no-repeat;
    width: 100%;
    height: 150px;
    font-size: 1.25rem;
}
header h1{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: rgb(248, 228, 237);
    letter-spacing: 2px;
}
.navbar{
    display: flex;
    list-style-type: none;
    gap: 1.25rem;
    padding-right: 1.25rem;
    list-style: none;
}
.navbar li a{
    text-decoration: none;
    color: rgb(248, 228, 237) ;
}
main{
    background-color: rgb(222, 161, 233);
}
.flexm{
    background-color: rgb(222, 161, 233);
    box-shadow: 2px 2px 5px black;
    display: flex;
    border-radius: .625rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.buzos{
    background-color:rgb(222, 161, 233);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 16px;
    box-shadow: 2px 2px 5px black;
    border-radius: .625rem;
}
.buzos img{
    width: 17rem;
    height: 23.125rem;
    box-shadow: 2px 2px 5px black;
    border-radius: .625rem;
}
.pantalones{
    background-color: rgb(222, 161, 233);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 16px;
    box-shadow: 2px 2px 5px black;
    border-radius: .625rem;
}
.pantalones img{
    width: 17rem;
    height: 23.125rem;
    box-shadow: 2px 2px 5px black;
    border-radius: .625rem;
}
.cards-container{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
.card{
    width: 20rem;
    height: 23.125rem;
    border: .0625rem solid rgb(222, 161, 233);
    background-color: lightcoral;
    box-shadow: 2px 2px 5px black;
    border-radius: .625rem;
} 
.m1 {
    background-color: blueviolet;
    order: 1;
}
.imgm1
{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.imgm1 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.infom1
{
    color: black;
    display: flex;
    width: 100%;
    height: 10.625rem ;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: .625rem;
}
.m2 {
    background-color: rgb(207, 166, 246);
    order: 2;
}
.imgm2
{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.imgm2 img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.infom2
{
    color: black;
    display: flex;
    width: 100%;
    height: 10.625rem ;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: .625rem;
}
.m3 {
    background-color: rgb(30, 166, 105);
    order: 4;
}
.imgm3
{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.imgm3 img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.infom3
{
    color: black;
    display: flex;
    width: 100%;
    height: 10.625rem ;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: .625rem;
}
.m4 {
    background-color: rgb(43, 226, 183);
    order: 3;
}
.imgm4
{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.imgm4 img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.infom4
{
    color: black;
    display: flex;
    width: 100%;
    height: 10.625rem ;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: .625rem;
}
.w1 {
    background-color: blueviolet;
    order: 1;
}
.imgw1
{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.imgw1 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.infow1
{
    color: black;
    display: flex;
    width: 100%;
    height: 10.625rem ;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: .625rem;
}
.w2 {
    background-color: rgb(207, 166, 246);
    order: 2;
}
.imgw2
{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.imgw2 img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.infow2
{
    color: black;
    display: flex;
    width: 100%;
    height: 10.625rem ;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: .625rem;
} 
.flexf{
    background-color: rgb(222, 161, 233);
    box-shadow: 2px 2px 5px black;
    display: flex;
    border-radius: .625rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.Contacto{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 16px;
}
.Encontranos{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 16px;
}
.Preguntas{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 16px;
}
.maps img{
    width: 1.875rem;
    height: 1.875rem;
}
.media img{
    width: 1.875rem;
    height: 1.875rem;  
}
form{
    background-color: rgb(222, 161, 233);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 16px;
    box-shadow: 2px 2px 5px black;
    border-radius: .625rem;
}
.about{
    background-color: rgb(222, 161, 233);
    background-image: url(https://images.unsplash.com/photo-1652272789122-784f8192df89?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1370&q=80);
    display: flex;
    gap: 1.25rem;
    color: rgb(248, 228, 237) ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-size:cover;
    background-position:center right;
    background-repeat:no-repeat;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 16px;
} 
.galeria{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: (3,1fr) ;
    grid-template-rows: (3,1fr);
    grid-template-areas:
    "div1 div2 div3"
    "div1 div2 div3"
    "div1 div2 div3"
    ;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    ;
}
.galeria div{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.galeria div img{
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.div1{
    grid-area: div1;
    text-align: center;
    order:1;
}
.div2{
    grid-area: div2;
    text-align: center;
    order:2;
}
.div3{
    grid-area: div3;
    text-align: center;
    order:3;
    object-fit: contain;
}
@media (max-width:768px){
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 15px;
        height: 50%;
        
    }
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: .3125rem;
    }
    .galeria{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-template-areas:
        "div1"
        "div2"
        "div3";
        justify-content: center;
        align-items: center;
        gap: 1.25rem;
    }
    .galeria div{
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .galeria div img{
        width: 80%;
        height: 250px;
        object-fit: contain;
    }
}

